
:root {
    --primary-color: #296BAD;
    --secondary-color: #F48636;
    --accent1-color: #C9CACF;
    --accent2-color: #FFDA57;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0  60px;
}

header {
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(2, 35%);
    align-items:center;
    justify-content: space-evenly;
}


header img {
    width: 120px;
    height: auto;  
}

nav ul{
    list-style: none;
    display: flex;
    width: 100%;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    border: solid 1.5px var(--accent1-color);
    padding: 5px  12px;
}

a:hover{
    color:  white;
    background-color: var(--accent1-color);
    transition: 0.5s;
}

h1, h2 {
    color: var(--primary-color);
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}
.hero {
    position: relative;
    width: 100%;
    
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px 0;
    width: 100%;
    text-align: center;
}

.hero article {
    position: absolute;
    top: 30%;
    background-color: rgba(247, 245, 245, 0.6);
    padding: 20px;
    left: 15%;
    
}

.hero article img {
    float: right;
    width: 160px;
    height: auto;
    margin-left: 15px;
}


.history{
    margin: 20px 0;
    display: flex;
}
  
.history h2{
    display: block;
    justify-content: center;
    display: flex;

}

.history div{
   flex-direction: column;
   align-items: center;
   justify-content: center;   
}

.history p{
    padding: 45px 15px;
    width: 100%;
    text-align:left;

}

.adventure{
    max-width: 100%;
    display: block;
    justify-content: space-around;
}
.adventure h2{
    display: block;
    justify-content: center;
    display: flex;
}

.adventure div{
    display: grid;
    grid-template-columns: 260px 260px 260px 260px 260px;
}


.adventure img{
    width: 210px;
    height: 150px;
    
}
.adventure figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

footer {
    color: var(--accent1-color);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

footer p {
    color: var(--primary-color);
}   

footer div{
    position: absolute;
    right: 100px;
}

footer img {
    width: 30px;
    height: auto;
    padding: 0 5px;
}



